---
---

$mutedblue: #607D8B;
$bluegrey100: #CFD8DC;
$erepunane: #f44336;
$pruun: #6D4C41;

/* ---- Keha -------- */
body {
  max-width: 50em; margin: 0 0; 
  padding: 0.6em 1.5em 2em 2em; 
  line-height: 1.2;
  font-family: 'Times New Roman', serif; 
  color: #333;
  font-size: 12pt; 
  }

/* ---- Paigutus ---- */
#Container { display: flex; max-width: 40em; }

#Tekst { max-width: 44rem; 
}

/* Päis */
#Pais, #Pais a { font-family: 'Roboto', sans-serif;
  color: #222326;
  font-size: 18pt; margin-bottom: 8px;
  border-bottom: none;
  padding: 0;
  margin: auto; }

/* ==== Külgriba ======== */
#Riba {
  flex-grow: 0; width: 18rem;
  padding: 0 1rem 2rem 0;
  background-color: Azure;
  margin-right: 1rem;
}
.RibaElement { display: block; line-height: 1.75; }

.lyliti {
  cursor: pointer;
  color: $mutedblue; 
}

#Riba li.active { font-weight: bold; }

/* Jaotisepealkiri */
h1 { font-size: 130%;
  line-height: 1.2;
  font-weight: bold;
  font-family: 'Roboto', sans-serif; 
  margin-top: 1em; }

h2 { font-weight: bold; font-size: 100%; 
  margin: 1em 0 1em 0; }

h3, h4 { font-size: 12pt; font-weight: normal;
  line-height: 1.2; 
  margin: 0.4em 0 0.2em 0; }  

/* Tekstiparagrahv */
p { margin: 0 0 1em 0; }

/* Loetelud */
#Tekst ul { list-style: none; margin: 0 0 1em 0;
    padding-left: 1em; }
/* #Tekst ul > li:before { display: inline-block;
    content: "-"; width: 1em; margin-left: -1em; } */
#Tekst ul > li:before { display: inline-block;
    content: none; width: 0; margin-left: 0; }
/* Külgriba loetelud */
nav > ul li, nav > ol li { margin-top: 0.5em; }
nav ul { list-style-type: none; }

/* Tabelid */
table { table-layout: fixed;
    width: 100%; margin: 0 4em 2em 0; }
table { border-collapse: collapse; }
table, th, td { border: 1px solid black; padding: 0.5rem 1rem; }

/* TOC genereeritud */
#markdown-toc > li {
  list-style: none;
}
#markdown-toc > li::before {
  content: "" !important;
  margin-left: 0 !important;
}

/* Allkriipsutus */
.u { text-decoration: underline; }

/* Plokktsitaat */
blockquote { 
  font-style: italic; 
  font-family: 'Anonymous Pro', monospace;
  font-size: 16px;
  margin-left: 0;
}

/* Kood; asciiflow joonised */
pre, code, samp {
  font-family: 'Anonymous Pro', monospace;
  font-size: 16px; color: teal;
  overflow-y: hidden; overflow-x: hidden;
  page-break-inside: avoid; hyphens: none;
  text-transform: none;
}
pre code,
code code {
  font-size: 100%;
}
pre { margin-top: 1em; margin-bottom: 1em; }

/* Lingid */
a[href] {
  color: $mutedblue;
  text-decoration: none;
  border-bottom: 1px solid $mutedblue;
  padding: 0 1px 0;
  margin: 0 -1px 0;
}
a:visited {
  border-bottom-color: $mutedblue;
}

a[href]:focus,
a[href]:hover {
  background: $mutedblue;
  background: rgba(75%, 75%, 75%, .25);
  border-bottom-width: 3px;
  margin-bottom: -2px;
}
a[href]:active {
  color: #C00;
  border-color: #C00;
}

/* Definitsiooniloetelud */
dt { font-weight: bold; font-style: italic; 
  margin-top: 0.5em; }
dd { margin-left: 4em; }

/* ======== Paneelid ======== */
.rem, .staatus { border-radius: 8px; padding: 10px; }

/* Märkus */
.rem { border: 1px solid $bluegrey100; 
  background-color: $bluegrey100; 
}

/* Staatus */
.staatus { border: 1px solid Aqua;
  color: CadetBlue;
}

/* Kaasavõtmiseks */
.noue { border: 1px solid Aquamarine; background-color: Azure; }

/* SF taag, Quality Goal taag */
.sf { border-radius: 4px; border: 1px solid #1565C0;
  color: #1565C0; padding: 2px; }
.Q { color: red; }