<div id='Arhitektuurijoonis'>
<pre>
                                                     ,-.
                                 +-------------+     `|'
                                 |Sirvija      |     /|\
                                 |             +---+  |
,-.                              +--+--+-------+     / \
`|'                                 ^  ^
/|\     +-------------+  API        |  |
 | +--> |Kooskõlastaja|◯ +----------+  |
/ \     |             |                +
        +------+------+     +---------+◯  API
               ^            |   +-------------+
               +------------+   |Avaldaja     |
                                |             |
                                +------+------+
                                       ^
                                       |
                                       |
                                       +
                        ,-.            ◯  API
                        `|'     +-------------+
                        /|\     |Kirjeldaja   |
                         | +--> |             |
                        / \     +-------------+
  
</pre>  

</div>