<div class="Riba">

  <p>
    <i class="material-icons ikoon" style='color: #9C27B0; font-size: 48px;'>cloud_circle</i>
  </p>

  <h1>{{ site.title }}</h1>

  <p class='teine'>
    Riigi infosüsteemi kataloog ja menetluskeskkond
  </p>
  <p class='teine'>
    Estonian state information system metadata catalogue
  </p>
  
  <nav>
    <ul>
      {% assign id_count = '' %}
      {% for nav in site.data.Riba %}
        {% if nav.categories != null %}
          {% assign id_count = id_count | append: 'x' %}
          <li>
            <a 
              href="{{ site.baseurl }}{{ nav.url }}">{{ nav.title }}
            </a>
            <!-- Alammenüü lüliti --> 
            <span
              id="{{ id_count.size }}"
              class="lyliti"
            >
              ▼
            </span>
            <ul id="alammenyy{{ id_count.size }}" class='alammenyy'>
            {% for category in nav.categories %}
              <li><a href="{{ site.baseurl }}{{ category.url }}">{{ category.title }}</a></li>
            {% endfor %}
            </ul>
          </li>
        {% elsif nav.title == page.title %}
           <li class="active">
             <a href="{{ site.baseurl }}{{ nav.url }}">{{ nav.title }}</a>
           </li>
        {% else %} 
          <li>
            <a href="{{ site.baseurl }}{{ nav.url }}">{{ nav.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>

  <p class='Anon' style='margin-top: 2rem;'>
    <i>&mdash; "Usaldusväärsed metaandmed - inimesele ja masinale"</i>
  </p>
  <p class='Anon'>
    <i>&mdash; "Awesome stuff - for human and machine"</i>
  </p>

  <p class='teine' style='margin-bottom: 4rem;'>
    Riigi Infosüsteemi Amet<br>
    Estonian Information System Authority, 2016-2017
  </p>

  </div>
</div>
