<div class="Riba">
  <div>
    <p>
      <i class="material-icons ikoon" style='color: #9C27B0; font-size: 48px;'>cloud_circle</i>
      <!-- i class="material-icons ikoon" style='color: #E0E0E0; font-size: 48px;'>account_circle</i>
      <i class="material-icons ikoon" style='color: #FF555D; font-size: 48px;'>code</i><br -->
    </p>
    <h1>{{ site.title }}</h1>
    <p class='teine'>
      Riigi infosüsteemi kataloog ja menetluskeskkond
    </p>
    <p class='teine'>
      Estonian state information system metadata catalogue
    </p>
    <p class='Anon'>
      <i>&mdash; "Usaldusväärsed metaandmed - inimesele ja masinale"</i>
    </p>
    <p class='Anon'>
      <i>&mdash; "Awesome stuff - for human and machine"</i>
    </p>
  </div>

  <p class='teine'>
    Riigi Infosüsteemi Amet<br>
    Estonian Information System Authority, 2016-2017
  </p>
  
  <nav>
    <ul>
      {% assign id_count = '' %}
      {% for nav in site.data.Riba %}
        {% if nav.categories != null %}
          {% assign id_count = id_count | append: 'x' %}
          <li>
            <a 
              href="{{ site.baseurl }}{{ nav.url }}">{{ nav.title }}
            </a>
            <!-- Alammenüü lüliti --> 
            <span
              id="{{ id_count.size }}"
              class="lyliti"
            >
              ▼
            </span>
            <ul id="alammenyy{{ id_count.size }}" class='alammenyy'>
            {% for category in nav.categories %}
              <li><a href="{{ site.baseurl }}{{ category.url }}">{{ category.title }}</a></li>
            {% endfor %}
            </ul>
          </li>
        {% elsif nav.title == page.title %}
           <li class="active">
             <a href="{{ site.baseurl }}{{ nav.url }}">{{ nav.title }}</a>
           </li>
        {% else %} 
          <li>
            <a href="{{ site.baseurl }}{{ nav.url }}">{{ nav.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>

  <!-- div class="RibaKleepuv">
    <div class="RibaLoetelu">
      {% assign pages_list = site.pages | sort:"nr" %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "IT" %}
            {% if node.publish == true %}
              <a class="RibaElement{% if page.url == node.url %} active{% endif %}"
                 href="{{ site.baseurl }}/{{ node.permalink }}">{{ node.title }}</a>
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}
    </div -->
    
  </div>
</div>
