<!DOCTYPE html>
<html lang="et">
  <head>             
    <meta charset="utf-8">    
    <title>{% if page.title %}{{ page.title }} - {% endif %}RIHA arhitektuuriteatmik</title>
    <!-- Material Design icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">

    <!-- Fonts -->    
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Anonymous+Pro" rel="stylesheet">
    
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery.min.js"></script>

    <link rel="stylesheet" href="{{ site.baseurl }}/css/IT.css">
    <script src='{{ site.baseurl }}/js/kuvaMuudatused.js'></script>
    <script src='{{ site.baseurl }}/js/Utils.js'></script>

  </head>
  <body onload='kuvaMuudatused()'>
    {% include Header.html %}
    <!-- Flexbox -->
    <div id='Container'>

      {% if page.sidebar %}
        {% include Riba.html %}
      {% endif %}

      <div id='Tekst'>
        {{ content }}
      </div>

    </div>

    <!-- Footer -->
    <div style='margin-top: 4rem;'>
     &nbsp;
    </div>
  </body>
</html>
